<div class="grid">
	<div class="row cells4">
		<div class="cell offset3">
			<button class="button bg-yellow" ui-sref="show-device({id: deviceId})">Information view</button>
		</div>
	</div>

	<br>

	<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>

	<table id="example_table" class="dataTable striped border bordered">
	    <thead>
	        <tr>
	            <th>Status</th>
	            <th>LongCode</th>
	            <th>Date Time</th>
	        </tr>
	    </thead>
	    <tfoot>
	        <tr>
	            <th>Status</th>
	            <th>LongCode</th>
	            <th>Date Time</th>
	        </tr>
	    </tfoot>
	    <tbody>
	        <tr ng-if="items.length > 0" ng-repeat="item in items">
	            <td>{{item.message}}</td>
	            <td>{{item.longcode}}</td>
	            <td>{{item.datetime}}</td>
	        </tr>
	    </tbody>
	</table>

	<div class="dataTables_info" id="example_table_info" role="status" aria-live="polite">Showing {{offset + 1}} to {{offset + count}} of 10 entries</div>

</div>