<!-- <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination> -->

<table id="example_table" class="dataTable striped border bordered">
    <thead>
        <tr>
            <th>Device Code</th>
            <th>Device Type</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Device Code</th>
            <th>Device Type</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-if="items.length > 0" ng-repeat="item in items">
            <td>{{item.device_code}}</td>
            <td>{{item.device_type}}</td>
            <td>{{item.address}}</td>
            <td>{{item.cityname}}</td>
            <td>{{item.mobile_number}}</td>
            <td>{{item.creator_name}}</td>
            <td>
                <a href="javascript:void(0);" ng-click="editDevice(item.id)">
                    <span class="mif-pencil"></span>
                </a>
                <a href="javascript:void(0);" ng-click="startStopDevice(item)">
                    <span ng-class="deviceOff(item) ? 'mif-play' : 'mif-stop'"></span>
                </a>
                <a href="javascript:void(0);" ng-click="deleteDevice(item.id)">
                    <span class="mif-cross"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="dataTables_info" id="example_table_info" role="status" aria-live="polite">Showing {{offset + 1}} to {{offset + count}} of 10 entries</div>